/**
 * Custom blocks styling
 */
#block-views-block-custom-block-block-2,
#block-views-block-custom-block-block-1 {
	width: 137px;
	float:right;

	.views-row {
		
		h2{
			margin:0;
		}
		.download_link {
		  padding: 14px 0 0;
		  a {
				color:$advalvas-red;
			}
		}


	}
}

#block-views-block-custom-block-block-2,
#block-views-block-custom-block-block-1 {
	display: block;
    float: left;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 220px;

 		h2 {
 			margin:0;
 			a {
 				text-decoration:none;
				color:#000000;
				&:hover {
					color: $advalvas-red;
				}
 			}
 		}

 		p {
 			padding:0;
 		}

 		a {
			color:$advalvas-red;
			display: block;
		}

 		.custom_block_bg {
 			background-color: #cfcec0;
			width:220px;
			height:147px; 
			text-align: center;
			display: table;

			.custom_block {
				padding: 8px;
				display: table-cell;
				vertical-align:middle;
				.custom_block_info {
					
					.custom_block_text {
						font-family: "OswaldRegular";
						font-size: 11px;
						line-height: 14px;
						color: #000000;
					}
					.custom_block_subscript {
						color:#ffffff;
					}
				}
			}
			h3 {
				font-family: "Georgia";
				color: #000000;
				font-size: 24px;
				line-height: 24px;
			}
 		}
 }

 #block-views-block-comic-teaser-block-1, #block-views-block-comic-teaser-block-2 {
	margin-bottom:20px;
	position:relative;
	.views-row {
		
		h2 {margin:0px;}
		.comic_teaser {
			
			margin-bottom:20px;
			.comic_teaser_left {
				float:left;
				margin-right:20px;
				a {
				position:relative;
				z-index:10;
				}
			}
			.comic_teaser_right {
				position:relative;
				height:220px;
				.more {
					position:absolute;
					right:0;
					bottom:0;
				}

			}
		}
		.field--name-field-full-name {
			font-family: "OswaldRegular";
			text-transform: uppercase;
			font-weight: normal;
			font-size: 16px;
			letter-spacing: .6px;
		}
	}

 }
 #block-views-block-comics-overview-block-1 .views-row,  #block-views-block-comics-overview-block-2 .views-row {
	margin-top:20px;
 }

